*{margin: 0;padding: 0;font-family: "微软雅黑";}
ol,ul{list-style:none;display:inline-block;}
a{text-decoration:none;color: #FF6666;}
input {outline:none;}/*input去掉点击时的框 也就是轮廓*/
.container{width:100%;max-width:1200px;min-width:1200px;margin:0 auto;}
/*清除插图图片的边框，使部分浏览器不再显示图片的蓝框*/	
img{border:none;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 
.dib{display:inline-block;}
.db{display: block;}
/*外边距*/
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.ml120{margin-left: 140px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
/*字体*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.cf{color:#fff;}
.c0{color:#000}
.cf6{color: #f6f6f6;}
.c08c{color:#0088CC;}
.fbiao{color:#444;font-size: 20px;font-family: "楷体";}
/*文字位置*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
/*浮动*/
.fl{float:left; display: block;}
.fr{float:right; display: block;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.br{border-right: 1px solid #F4F4F4;}
.bb{border-bottom: #FFCC33;}
