@charset "utf-8";
/* CSS Document */
.home{ width:1200px; height:700px; margin:auto;}
.left{ width:880px; padding-left:20px; background-color:#CCC; float:left; margin-top:100px; padding-bottom:45px;}
h2{ color:#ffffff; background-color:#FCC; width:300px; height:40px; text-align:center; line-height:40px; font-size:24px; font-weight:800; position:relative; top:-40px; left:-20px;}
.left>input{ width:150px; height:25px; margin-left:10px;}
.left>input[type=button]{ width:100px; height:25px; margin-top:20px; margin-left:0px; }
.submitBut{ float:right; margin-right:70px;}
.left>span{ padding-left:5px; padding-right:5px; font-size:16px; height:30px; line-height:30px;}


.right{ width:280px; height:650px; padding-left:20px; background-color:#DBD6A8; float:left; margin-top:100px;}
.right>p{ padding-left:5px; padding-right:5px; font-size:16px; height:30px; line-height:30px;}
.right>input{ width:220px; height:25px;}
.area{ width:220px; height:200px;}



